@font-face {
  font-family: sequel-semi-bold;
  src: url('/fonts/Sequel_Family/Sequel\ Sans\ Semi\ Bold\ Body.ttf');
}

@font-face {
  font-family: sequel-roman;
  src: url('/fonts/Sequel_Family/Sequel\ Sans\ Roman\ Body.ttf');
}

@font-face {
  font-family: sequel-book;
  src: url('/fonts/Sequel_Family/Sequel\ Sans\ Book\ Obl\ Body.ttf');
}

* {
  margin: 0;
  padding: 0;

  //border: solid 3px #000;
}


html,
body {
  width: 100%;
  height: 100%;
}

h1, h2, p {
  margin: 0;
}

a{
  text-decoration: none;
}

:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Cores =====*/
:root{
  --first-color: #993399;
  --second-color: #FCFCFC;
  --bnt-color: #006BAC;
}

/*===== Fonte e tipografia =====*/
:root{
  --sequel-semi-bold: 'sequel-semi-bold', sans-serif;
  --sequel-book: 'sequel-book', sans-serif;
  --sequel-roman: 'sequel-roman', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

/*===== Margin =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7: 3.5rem;
  --mb-8: 4rem;
  --mb-9: 4.5rem;
  --mb-10: 10rem;
  --mb-12: 12rem;
}

.button {
  display: inline-block;
  background-color: var(--bnt-color);
  color: #fff;
  padding: 1rem 2.5rem;
  margin-right: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: 2.5rem;
  font-family: var(--sequel-semi-bold);
}

.button__dois {
  display: inline-block;
  background-color: transparent;
  border: solid 3px #fff;
  color: #fff;
  padding: 1rem 2.5rem;
  margin-right: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: 2.5rem;
  font-family: var(--sequel-semi-bold);
}

.button__tres {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 2.5rem;
  margin-right: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: 2.5rem;
  font-family: var(--sequel-semi-bold);
}

.button__quatro {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 1rem 7.5rem;
  margin-right: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: 2.5rem;
  font-family: var(--sequel-semi-bold);
}

/* Header Nav Menu Inicio */

header {
  color: #ffffff;
  height: auto;
  width: 100%;
  background: url('../img/bg_sobre_nos.jpg') no-repeat center;
  background-size: cover;
}


.d-flex-topo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_social {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.flex-social {
  display: flex;
  list-style: none;
}

.sessao-topo {
  background: #993399;
  height: 40px;
}

.sessao-topo p {
  color: #fff;
  font-size: 13px;
  font-family: var(--sequel-roman);
}

/* Header */

.menu__text {
  background-color: rgba(153,51,153,0.6);
  margin-top: var(--mb-12);
  margin-bottom: var(--mb-12);
}

.menu__text h1 {
  font-size: 48px;
  color: var(--second-color);
  padding: var(--mb-6);
  font-family: var(--sequel-semi-bold);
  text-align: center;
  font-weight: bold;
}

.menu__text h2 {
  font-size: 24px;
  padding-left: var(--mb-6);
  padding-right: var(--mb-6);
  padding-bottom: var(--mb-6);
  color: var(--second-color);
  font-family: var(--sequel-roman);
}

.menu__color {
  font-family: var(--sequel-book);
  font-size: 24px;
}


@media (max-width: 739px) {
	header {
    color: #fff;
    max-width: 100%;
    height: auto;
    background: url('../img/bg_sobre_nos.jpg') no-repeat center;
    background-size: cover;
  }

  .sessao-topo {
    height: 80px;
  }
  
  .sessao-topo p {
    padding: 15px;
    font-size: 12px;
  }

  .menu__text h1 {
    font-size: 28px;
    text-align: left;
  }

  .menu__text h2 {
    font-size: 18px;
    color: var(--second-color);
    font-family: var(--sequel-book);
  }

  .img_logo{
    width: 120px;
    height: 55px;
  }

  .menu__color {
    font-size: 16px;
    text-align: center;
  }

  .padding-para-mobile {
    padding: 0 25px 0 25px;
  }

}

/* Header Nav Menu Inicio */

/* Sessão 02 */

.sessao__dois {
  width: 100%;
  height: auto;
  background-color: var(--first-color);
  padding-bottom: 60px;
}

.sessao__dois p{
  padding-top: 60px;
  font-family: var(--sequel-roman);
  font-size: 24px;
  color: #fff;
}

@media (max-width: 739px) {
  
  .sessao__dois p{
    font-size: 18px;
  }
}

/* Sessão 03 */

.sessao__tres {
  width: 100%;
  height: auto;
  padding-bottom: 60px;
}

.sobre {
  padding-top: 60px;
}

.sobre h1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 36px;
  font-family: var(--sequel-semi-bold);
  color: #2E2E2E;
  font-weight: bold;
}

.sobre h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
  font-family: var(--sequel-roman);
  color: #2E2E2E;
  padding: 0 150px 0 150px;
}

.missao {
  padding-top: 60px;
}

.missao h1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 36px;
  font-family: var(--sequel-semi-bold);
  color: #2E2E2E;
  font-weight: bold;
}

.missao h2 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
  font-family: var(--sequel-roman);
  color: #2E2E2E;
  padding: 0 150px 0 150px;
}

.conheca {
  padding-top: 60px;
}

.conheca h1 {
  text-align: center;
  padding-bottom: 30px;
  font-size: 24px;
  font-family: var(--sequel-semi-bold);
  color: #2E2E2E;
  font-weight: bold;
}

.icone-social-sobre {
  width: 40px;
  height: 40px;
  background: var(--first-color);
  border-radius: 50px;
  margin-left: 5px;
}

.sobre-luminus {
  padding-top: 60px;
}

.sobre-luminus h1 {
  padding-bottom: 30px;
  font-size: 36px;
  font-family: var(--sequel-semi-bold);
  color: #2E2E2E;
  font-weight: bold;
}

.sobre-luminus p {
  padding-bottom: 30px;
  font-size: 24px;
  font-family: var(--sequel-roman);
  color: #2E2E2E;
}

.sobre-luminus h3 {
  padding-bottom: 30px;
  font-size: 24px;
  font-family: var(--sequel-semi-bold);
  color: #2E2E2E;
}

.sobre-luminus h2 {
  padding-bottom: 30px;
  font-size: 28px;
  font-family: var(--sequel-semi-bold);
  color: #2E2E2E;
}

.logo_luminus {
  margin-top: 30px;
  width: 230px;
}

@media (max-width: 739px) {  
  .sobre {
    padding-top: 60px;
  }
  
  .sobre h1 {
    padding-bottom: 30px;
    font-size: 24px;
  }
  
  .sobre h2 {
    padding-bottom: 30px;
    font-size: 24px;
    color: #2E2E2E;
    padding: 0 0 0 0;
  }
  
  .missao {
    padding-top: 60px;
  }
  
  .missao h1 {
    padding-bottom: 30px;
    font-size: 24px;
  }
  
  .missao h2 {
    padding-bottom: 30px;
    font-size: 24px;
    padding: 0 0 0 0;
  }
  
  .conheca {
    padding-top: 60px;
  }
  
  .conheca h1 {
    text-align: center;
    padding-bottom: 30px;
    font-size: 24px;
    font-family: var(--sequel-semi-bold);
    color: #2E2E2E;
    font-weight: bold;
  }
  
  .icone-social-sobre {
    width: 40px;
    height: 40px;
    background: var(--first-color);
    border-radius: 50px;
    margin-left: 5px;
  }
  
  .sobre-luminus {
    padding-top: 60px;
  }
  
  .sobre-luminus h1 {
    padding-bottom: 30px;
    font-size: 24px;
  }
  
  .sobre-luminus p {
    padding-bottom: 30px;
    font-size: 18px;
  }
  
  .sobre-luminus h3 {
    padding-bottom: 30px;
    font-size: 22px;
    font-family: var(--sequel-semi-bold);
    color: #2E2E2E;
  }
  
  .sobre-luminus h2 {
    padding-bottom: 30px;
    font-size: 18px;
    font-family: var(--sequel-semi-bold);
    color: #2E2E2E;
  }
  
  .logo_luminus {
    width: 150px;
    height: 150px;
  }
}

/* Sessão Cinco*/
.sessao__cinco {  
  width: 100%;
  height: auto;
  background: #2E2E2E;
  padding-bottom: 60px;
}

.sessao__cinco h1 {  
  text-align: center;
  padding-top: 60px;
  color: #fff;
  font-size: 36px;
  font-family: var(--sequel-semi-bold);
}

.form-01 {
  padding-top: 60px;
}

.form-01 p {
  color: #fff;
  font-size: 24px;
  font-family: var(--sequel-roman);
}

.form-01-p {
  padding-top: 60px;
}

.form-02 {
  padding-top: 60px;
}

.form-02 p {
  color: #fff;
  font-size: 24px;
  font-family: var(--sequel-roman);
}

.form-02-p {
  padding-top: 60px;
}

.footer {
  height: 50px;
  background: var(--first-color);
  color: var(--second-color);
  font-size: 14px;
  font-family: var(--sequel-roman);
  text-align: center;
  padding-top: 10px;
}



@media (max-width: 739px) {  
  .sessao__cinco h1 {  
    text-align: left;
    font-size: 28px;
  }
  
  .form-01 p {
    font-size: 18px;
  }
  
  .form-02 p {
    font-size: 18px;
  }

}