@font-face {
  font-family: sequel-semi-bold;
  src: url('/fonts/Sequel_Family/Sequel\ Sans\ Semi\ Bold\ Body.ttf');
}

@font-face {
  font-family: sequel-roman;
  src: url('/fonts/Sequel_Family/Sequel\ Sans\ Roman\ Body.ttf');
}

@font-face {
  font-family: sequel-book;
  src: url('/fonts/Sequel_Family/Sequel\ Sans\ Book\ Obl\ Body.ttf');
}

* {
  margin: 0;
  padding: 0;

  //border: solid 3px #000;
}


html,
body {
  width: 100%;
  height: 100%;
}

h1, h2, p {
  margin: 0;
}

a{
  text-decoration: none;
}

:root{
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Cores =====*/
:root{
  --first-color: #993399;
  --second-color: #FCFCFC;
  --bnt-color: #006BAC;
}

/*===== Fonte e tipografia =====*/
:root{
  --sequel-semi-bold: 'sequel-semi-bold', sans-serif;
  --sequel-book: 'sequel-book', sans-serif;
  --sequel-roman: 'sequel-roman', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}

/*===== Margin =====*/
:root{
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  --mb-7: 3.5rem;
  --mb-8: 4rem;
  --mb-9: 4.5rem;
  --mb-10: 10rem;
  --mb-12: 12rem;
}

.button {
  display: inline-block;
  background-color: var(--bnt-color);
  color: #fff;
  padding: 1rem 2.5rem;
  margin-right: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: 2.5rem;
  font-family: var(--sequel-semi-bold);
}

.button__dois {
  display: inline-block;
  background-color: transparent;
  border: solid 3px #fff;
  color: #fff;
  padding: 1rem 2.5rem;
  margin-right: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: 2.5rem;
  font-family: var(--sequel-semi-bold);
}

.button__tres {
  display: inline-block;
  background-color: var(--first-color);
  color: #fff;
  padding: 1rem 2.5rem;
  margin-right: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: 2.5rem;
  font-family: var(--sequel-semi-bold);
}

.button__quatro {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 1rem 7.5rem;
  margin-right: 0.5rem;
  font-weight: var(--font-semi);
  border-radius: 2.5rem;
  font-family: var(--sequel-semi-bold);
}

/* Header Nav Menu Inicio */

header {
  color: #ffffff;
  height: 100%;
  width: 100%;
  background: url('img/bg_index.jpg') no-repeat center;
  background-size: cover;
}


.d-flex-topo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_social {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-top: 5px;
  margin-left: 5px;
}

.flex-social {
  display: flex;
  list-style: none;
}

.sessao-topo {
  background: #993399;
  height: 40px;
}

.sessao-topo p {
  color: #fff;
  font-size: 13px;
  font-family: var(--sequel-roman);
}

.menu__text h1 {
  font-size: 58px;
  color: var(--second-color);
  margin-top: var(--mb-12);
  margin-bottom: var(--mb-3);
  font-family: var(--sequel-semi-bold);
}

.menu__text h2 {
  font-size: 24px;
  color: var(--second-color);
  font-family: var(--sequel-book);
}

.baixe__agora h4{
  font-size: 24px;
  font-family: var(--sequel-semi-bold);
  margin-top: var(--mb-9);
}

.baixe__agora {
  padding-bottom: 120px;
}

.img_store {
  width: 150px;
  height: 50px;
}

.menu__color {
  font-family: var(--sequel-book);
  font-size: 24px;
}
@media (max-height: 723px) {
  header {
    height: auto;
  }
}

@media (max-width: 739px) {
	header {
    color: #fff;
    max-width: 100%;
    height: auto;
    background: url('img/bg_index.jpg') no-repeat center;
    background-size: cover;
  }

  .sessao-topo {
    height: 80px;
  }
  
  .sessao-topo p {
    padding: 15px;
    font-size: 12px;
  }

  .menu__text h1 {
    font-size: 36px;
    margin-bottom: var(--mb-2);
  }
  
  .menu__text h2 {
    font-size: 18px;
  }

  .menu__text h1 {
    font-size: 28px;
    margin-top: var(--mb-5);
    margin-bottom: var(--mb-3);
  }

  .menu__text h2 {
    font-size: 18px;
    color: var(--second-color);
    font-family: var(--sequel-book);
  }

  .baixe__agora h4{
    font-size: 18px;
  }

  .menu__color {
    font-size: 16px;
    text-align: center;
  }

  .img_logo{
    width: 120px;
    height: 55px;
  }

  .menu__color {
    font-family: var(--sequel-book);
    font-size: 18px;
  }

}

/* Header Nav Menu Inicio */

/* Sessao Dois */
.sessao__dois {
  width: 100%;
  height: auto;
  padding-bottom: 60px;
  background: var(--first-color);
}

.sessao__dois h1 {
  padding-top: 30px;
  font-size: 36px;
  color: #fff;
}

.sessao__dois p {
  margin-top: 30px;
  font-size: 18px;
  color: #fff;
  font-family: var(--sequel-roman);
}

.img__sessao_dois {
  padding-top: 60px;
  width: 100px;
}

@media (max-width: 739px) {
  .sessao__dois h1 {
    padding-top: 60px;
    font-size: 28px;
  }

  .sessao__dois p {
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
    font-family: var(--sequel-roman);
  }
}

/* sessao__video_um */
.sessao__video_um {
  width: 100%;
  height: auto;
}

.sessao__video_dois {
  padding-top: 60px;
  padding-left: 60px;
}

@media (max-width: 739px) {
  .sessao__video_dois {
    padding-top: 60px;
    padding-left: 0;
  }
}


/* Sessão 04 - Solição */
.sessao__quatro {
  width: 100%;
  height: auto;
}

.sl-empresa {
  background: #016CAD;
  padding: 20px 0 20px 0;
}

.sl-empresa h1{
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: var(--sequel-roman);
}

.sl-voce {
  background: var(--first-color);
  padding: 20px 0 20px 0;
}

.sl-voce h1{
  color: #fff;
  font-size: 24px;
  text-align: center;
  font-family: var(--sequel-roman);
}

.sl-empresa-text{
  padding: 60px 120px 30px 120px;
}

.sl-empresa-text h1{
  color: #2E2E2E;
  font-size: 36px;
  font-family: var(--sequel-semi-bold);
  font-weight: bold;
}

.sl-empresa-text h2{
  color: #006BAC;
  font-size: 30px;
  font-family: var(--sequel-semi-bold);
  padding-bottom: 30px;
  font-weight: bold;
}

.sl-empresa-text p{
  color: #2E2E2E;
  font-size: 18px;
  font-family: var(--sequel-book);
  padding-bottom: 30px;
}

.sl-voce-text {
  padding: 60px 120px 30px 120px;
}

.sl-voce-text h1{
  color: #2E2E2E;
  font-size: 36px;
  font-family: var(--sequel-semi-bold);
  font-weight: bold;
}

.sl-voce-text h2{
  color: var(--first-color);
  font-size: 30px;
  font-family: var(--sequel-semi-bold);
  padding-bottom: 30px;
  font-weight: bold;
}

.sl-voce-text p{
  color: #2E2E2E;
  font-size: 18px;
  font-family: var(--sequel-book);
  padding-bottom: 30px;
}

.aparece-mobile {
  display: none;
}

.click_sl {
  color: var(--first-color);
}

@media (max-width: 739px) {
  .some-mobile {
    display: none;
  }

  .aparece-mobile {
    display: block;
  }
  
  .sl-empresa-text{
    padding: 30px 0 0 0;
  }
  
  .sl-voce-text {
    padding: 30px 0 0 0;
  } 
}
/* Fim Sessão 04 - Solição */


/* Sessão Cinco Form*/
.sessao__cinco {  
  width: 100%;
  height: auto;
  background: #2E2E2E;
  padding-bottom: 60px;
}

.sessao__cinco h1 {  
  text-align: center;
  padding-top: 60px;
  color: #fff;
  font-size: 36px;
  font-family: var(--sequel-semi-bold);
}

.form-01 {
  padding-top: 60px;
}

.form-01 p {
  color: #fff;
  font-size: 24px;
  font-family: var(--sequel-roman);
}

.form-01-p {
  padding-top: 60px;
}

.form-02 {
  padding-top: 60px;
}

.form-02 p {
  color: #fff;
  font-size: 24px;
  font-family: var(--sequel-roman);
}

.form-02-p {
  padding-top: 60px;
}

.inputWithIcon input[type="text"], .inputWithIcon input[type="email"], .inputWithIcon textarea {
  padding-left: 40px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: var(--first-color);
}

input[type="text"]:focus {
  border-color: var(--first-color);
  box-shadow: 0 0 8px 0 var(--first-color);
}

.inputWithIcon input[type="email"]:focus + i {
  color: var(--first-color);
}

input[type="email"]:focus {
  border-color: var(--first-color);
  box-shadow: 0 0 8px 0 var(--first-color);
}

.inputWithIcon textarea:focus + i {
  color: var(--first-color);
}

.inputWithIcon textarea:focus {
  border-color: var(--first-color);
  box-shadow: 0 0 8px 0 var(--first-color);
}


.footer {
  height: 50px;
  background: var(--first-color);
  color: var(--second-color);
  font-size: 14px;
  font-family: var(--sequel-roman);
  text-align: center;
  padding-top: 10px;
}



@media (max-width: 739px) {
	.img__sessao__03 {
    display: none;
  }
  
  .sessao__cinco h1 {  
    text-align: left;
    font-size: 28px;
  }
  
  .form-01 p {
    font-size: 18px;
  }
  
  .form-02 p {
    font-size: 18px;
  }

}


